-- CreateEnum
CREATE TYPE "Gender" AS ENUM ('male', 'female', 'other', 'prefer_not_to_say');

-- CreateEnum
CREATE TYPE "MaritalStatus" AS ENUM ('single', 'married', 'divorced', 'widowed');

-- CreateEnum
CREATE TYPE "ClientSource" AS ENUM ('manual', 'website', 'import', 'ocr');

-- CreateEnum
CREATE TYPE "BirthTimeAccuracy" AS ENUM ('exact', 'approximate', 'rectified', 'unknown');

-- CreateEnum
CREATE TYPE "RelationshipType" AS ENUM ('spouse', 'child', 'parent', 'sibling', 'grandparent', 'grandchild', 'in_law', 'uncle_aunt', 'nephew_niece', 'cousin', 'other');

-- CreateEnum
CREATE TYPE "ConsultationType" AS ENUM ('general', 'career', 'marriage', 'health', 'business', 'muhurta', 'compatibility', 'annual', 'transit', 'other');

-- CreateEnum
CREATE TYPE "ConsultationStatus" AS ENUM ('completed', 'pending_follow_up', 'closed');

-- CreateEnum
CREATE TYPE "ChartType" AS ENUM ('D1', 'D2', 'D3', 'D4', 'D6', 'D7', 'D9', 'D10', 'D12', 'D16', 'D20', 'D24', 'D27', 'D30', 'D40', 'D45', 'D60', 'D150', 'transit', 'dasha', 'ashtakavarga', 'ashtakavarga_bhinna', 'ashtakavarga_sarva', 'ashtakavarga_shodasha', 'sudarshana', 'kp_chart', 'moon_chart', 'sun_chart', 'arudha_lagna', 'bhava_lagna', 'hora_lagna', 'kp_bhava', 'equal_bhava', 'sripathi_bhava', 'karkamsha', 'karkamsha_d1', 'karkamsha_d9', 'numerology_chaldean', 'numerology_loshu', 'person_numerology', 'yoga_gaja_kesari', 'yoga_guru_mangal', 'yoga_budha_aditya', 'yoga_chandra_mangal', 'yoga_raj', 'yoga_pancha_mahapurusha', 'yoga_daridra', 'yoga_dhan', 'yoga_malefic', 'yoga_rare', 'yoga_special', 'yoga_spiritual', 'yoga_shubh', 'yoga_viparitha_raja', 'yoga_kalpadruma', 'dosha_kala_sarpa', 'dosha_angarak', 'dosha_guru_chandal', 'dosha_shrapit', 'dosha_sade_sati', 'dosha_pitra', 'panchanga', 'choghadiya', 'hora_times', 'lagna_times', 'muhurat', 'remedy_yantra', 'remedy_mantra', 'remedy_general', 'remedy_gemstone', 'remedy_lal_kitab', 'shadbala', 'dasha_vimshottari', 'dasha_chara', 'dasha_yogini', 'dasha_ashtottari', 'dasha_tribhagi', 'dasha_tribhagi_40', 'dasha_shodashottari', 'dasha_dwadashottari', 'dasha_panchottari', 'dasha_chaturshitisama', 'dasha_satabdika', 'dasha_dwisaptati', 'dasha_shastihayani', 'dasha_shattrimshatsama', 'dasha_summary', 'dasha_3months', 'dasha_6months', 'dasha_report_1year', 'dasha_report_2years', 'dasha_report_3years', 'kp_planets_cusps', 'kp_ruling_planets', 'kp_bhava_details', 'kp_significations', 'kp_horary', 'kp_house_significations', 'kp_planet_significators', 'kp_interlinks', 'kp_interlinks_advanced', 'kp_interlinks_sl', 'kp_nakshatra_nadi', 'kp_fortuna', 'shodasha_varga_signs', 'mandi', 'gulika', 'birth_panchanga', 'gl_chart', 'karaka_strength', 'yukteswar_transit');

-- CreateEnum
CREATE TYPE "RemedyType" AS ENUM ('gemstone', 'mantra', 'puja', 'charity', 'lifestyle', 'yantra', 'fasting', 'other');

-- CreateEnum
CREATE TYPE "RemedyStatus" AS ENUM ('prescribed', 'in_progress', 'completed', 'discontinued');

-- CreateEnum
CREATE TYPE "ImportStatus" AS ENUM ('pending', 'processing', 'completed', 'failed', 'partially_completed');

-- CreateEnum
CREATE TYPE "ChartGenerationStatus" AS ENUM ('pending', 'processing', 'completed', 'failed');

-- CreateEnum
CREATE TYPE "ImportType" AS ENUM ('excel', 'csv', 'ocr');

-- CreateTable
CREATE TABLE "clients" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_code" VARCHAR(20) NOT NULL,
    "full_name" VARCHAR(200) NOT NULL,
    "phone_primary" VARCHAR(20),
    "phone_secondary" VARCHAR(20),
    "email" VARCHAR(255),
    "photo_url" VARCHAR(500),
    "birth_date" DATE,
    "birth_time" TIME,
    "birth_place" VARCHAR(300),
    "birth_latitude" DECIMAL(10,7),
    "birth_longitude" DECIMAL(10,7),
    "birth_timezone" VARCHAR(50),
    "birth_time_known" BOOLEAN NOT NULL DEFAULT true,
    "birth_time_accuracy" "BirthTimeAccuracy" NOT NULL DEFAULT 'exact',
    "gender" "Gender",
    "marital_status" "MaritalStatus",
    "occupation" VARCHAR(200),
    "business_details" TEXT,
    "current_situation" TEXT,
    "special_considerations" TEXT,
    "address_line1" VARCHAR(300),
    "address_line2" VARCHAR(300),
    "city" VARCHAR(100),
    "state" VARCHAR(100),
    "postal_code" VARCHAR(20),
    "country" VARCHAR(100),
    "tags" JSONB DEFAULT '[]',
    "metadata" JSONB DEFAULT '{}',
    "generation_status" "ChartGenerationStatus" NOT NULL DEFAULT 'pending',
    "charts_version" INTEGER NOT NULL DEFAULT 1,
    "source" "ClientSource" NOT NULL DEFAULT 'manual',
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "clients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_family_links" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "related_client_id" UUID NOT NULL,
    "relationship_type" "RelationshipType" NOT NULL,
    "relationship_label" VARCHAR(100),
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" UUID,

    CONSTRAINT "client_family_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_consultations" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "booking_id" UUID,
    "report_id" UUID,
    "consultation_type" "ConsultationType" NOT NULL,
    "session_notes" TEXT,
    "key_observations" TEXT,
    "follow_up_date" DATE,
    "status" "ConsultationStatus" NOT NULL DEFAULT 'completed',
    "consultation_date" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" UUID,

    CONSTRAINT "client_consultations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_saved_charts" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "chart_type" "ChartType" NOT NULL,
    "system" VARCHAR(20) NOT NULL DEFAULT 'lahiri',
    "chart_name" VARCHAR(200),
    "chart_data" JSONB NOT NULL,
    "chart_config" JSONB,
    "chart_image_url" VARCHAR(500),
    "calculated_at" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" UUID,

    CONSTRAINT "client_saved_charts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_notes" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "note_content" TEXT NOT NULL,
    "is_pinned" BOOLEAN NOT NULL DEFAULT false,
    "created_by" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "client_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_remedies" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_id" UUID NOT NULL,
    "consultation_id" UUID,
    "remedy_type" "RemedyType" NOT NULL,
    "remedy_title" TEXT NOT NULL,
    "remedy_description" TEXT,
    "instructions" TEXT,
    "start_date" DATE,
    "end_date" DATE,
    "status" "RemedyStatus" NOT NULL DEFAULT 'prescribed',
    "follow_up_notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" UUID,

    CONSTRAINT "client_remedies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_imports" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "file_name" TEXT NOT NULL,
    "file_url" TEXT NOT NULL,
    "import_type" "ImportType" NOT NULL,
    "status" "ImportStatus" NOT NULL DEFAULT 'pending',
    "total_records" INTEGER NOT NULL DEFAULT 0,
    "successful_records" INTEGER NOT NULL DEFAULT 0,
    "failed_records" INTEGER NOT NULL DEFAULT 0,
    "duplicate_records" INTEGER NOT NULL DEFAULT 0,
    "column_mapping" JSONB,
    "errors" JSONB,
    "created_by" UUID,
    "started_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "client_imports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "client_activity_logs" (
    "id" UUID NOT NULL,
    "tenant_id" UUID NOT NULL,
    "client_id" UUID,
    "user_id" UUID,
    "action" VARCHAR(100) NOT NULL,
    "details" JSONB,
    "ip_address" VARCHAR(45),
    "user_agent" TEXT,
    "device_type" VARCHAR(50),
    "device_name" VARCHAR(100),
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "client_activity_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "clients_tenant_id_idx" ON "clients"("tenant_id");

-- CreateIndex
CREATE INDEX "clients_tenant_id_full_name_idx" ON "clients"("tenant_id", "full_name");

-- CreateIndex
CREATE INDEX "clients_tenant_id_email_idx" ON "clients"("tenant_id", "email");

-- CreateIndex
CREATE INDEX "clients_tenant_id_birth_date_idx" ON "clients"("tenant_id", "birth_date");

-- CreateIndex
CREATE INDEX "clients_tenant_id_created_at_idx" ON "clients"("tenant_id", "created_at");

-- CreateIndex
CREATE INDEX "clients_tenant_id_deleted_at_idx" ON "clients"("tenant_id", "deleted_at");

-- CreateIndex
CREATE INDEX "clients_tenant_id_phone_primary_idx" ON "clients"("tenant_id", "phone_primary");

-- CreateIndex
CREATE INDEX "clients_tenant_id_client_code_idx" ON "clients"("tenant_id", "client_code");

-- CreateIndex
CREATE INDEX "clients_tags_idx" ON "clients" USING GIN ("tags");

-- CreateIndex
CREATE UNIQUE INDEX "clients_id_tenant_id_key" ON "clients"("id", "tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "clients_tenant_id_client_code_key" ON "clients"("tenant_id", "client_code");

-- CreateIndex
CREATE UNIQUE INDEX "clients_tenant_id_phone_primary_key" ON "clients"("tenant_id", "phone_primary");

-- CreateIndex
CREATE INDEX "client_family_links_tenant_id_idx" ON "client_family_links"("tenant_id");

-- CreateIndex
CREATE INDEX "client_family_links_client_id_idx" ON "client_family_links"("client_id");

-- CreateIndex
CREATE INDEX "client_family_links_related_client_id_idx" ON "client_family_links"("related_client_id");

-- CreateIndex
CREATE UNIQUE INDEX "client_family_links_id_tenant_id_key" ON "client_family_links"("id", "tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "client_family_links_client_id_related_client_id_key" ON "client_family_links"("client_id", "related_client_id");

-- CreateIndex
CREATE INDEX "client_consultations_tenant_id_idx" ON "client_consultations"("tenant_id");

-- CreateIndex
CREATE INDEX "client_consultations_client_id_idx" ON "client_consultations"("client_id");

-- CreateIndex
CREATE INDEX "client_consultations_booking_id_idx" ON "client_consultations"("booking_id");

-- CreateIndex
CREATE INDEX "client_consultations_tenant_id_consultation_date_idx" ON "client_consultations"("tenant_id", "consultation_date");

-- CreateIndex
CREATE UNIQUE INDEX "client_consultations_id_tenant_id_key" ON "client_consultations"("id", "tenant_id");

-- CreateIndex
CREATE INDEX "client_saved_charts_tenant_id_idx" ON "client_saved_charts"("tenant_id");

-- CreateIndex
CREATE INDEX "client_saved_charts_client_id_idx" ON "client_saved_charts"("client_id");

-- CreateIndex
CREATE INDEX "client_saved_charts_client_id_chart_type_idx" ON "client_saved_charts"("client_id", "chart_type");

-- CreateIndex
CREATE UNIQUE INDEX "client_saved_charts_id_tenant_id_key" ON "client_saved_charts"("id", "tenant_id");

-- CreateIndex
CREATE UNIQUE INDEX "client_saved_charts_tenant_id_client_id_chart_type_system_key" ON "client_saved_charts"("tenant_id", "client_id", "chart_type", "system");

-- CreateIndex
CREATE INDEX "client_notes_tenant_id_idx" ON "client_notes"("tenant_id");

-- CreateIndex
CREATE INDEX "client_notes_client_id_idx" ON "client_notes"("client_id");

-- CreateIndex
CREATE UNIQUE INDEX "client_notes_id_tenant_id_key" ON "client_notes"("id", "tenant_id");

-- CreateIndex
CREATE INDEX "client_remedies_tenant_id_idx" ON "client_remedies"("tenant_id");

-- CreateIndex
CREATE INDEX "client_remedies_client_id_idx" ON "client_remedies"("client_id");

-- CreateIndex
CREATE UNIQUE INDEX "client_remedies_id_tenant_id_key" ON "client_remedies"("id", "tenant_id");

-- CreateIndex
CREATE INDEX "client_imports_tenant_id_idx" ON "client_imports"("tenant_id");

-- CreateIndex
CREATE INDEX "client_activity_logs_tenant_id_idx" ON "client_activity_logs"("tenant_id");

-- CreateIndex
CREATE INDEX "client_activity_logs_client_id_idx" ON "client_activity_logs"("client_id");

-- CreateIndex
CREATE INDEX "client_activity_logs_user_id_idx" ON "client_activity_logs"("user_id");

-- CreateIndex
CREATE INDEX "client_activity_logs_timestamp_idx" ON "client_activity_logs"("timestamp");

-- AddForeignKey
ALTER TABLE "client_family_links" ADD CONSTRAINT "client_family_links_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_family_links" ADD CONSTRAINT "client_family_links_related_client_id_fkey" FOREIGN KEY ("related_client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_consultations" ADD CONSTRAINT "client_consultations_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_saved_charts" ADD CONSTRAINT "client_saved_charts_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_notes" ADD CONSTRAINT "client_notes_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_remedies" ADD CONSTRAINT "client_remedies_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_remedies" ADD CONSTRAINT "client_remedies_consultation_id_fkey" FOREIGN KEY ("consultation_id") REFERENCES "client_consultations"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "client_activity_logs" ADD CONSTRAINT "client_activity_logs_client_id_fkey" FOREIGN KEY ("client_id") REFERENCES "clients"("id") ON DELETE CASCADE ON UPDATE CASCADE;

